@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<div class="text-center">
    <h1 class="display-4">Bienvenido a Tomates Podridos!!</h1>
    <p>La version criolla de Rotten Tomatoes.</p>
</div>
