@model Rotten_tomatoes.Models.TopTvShow

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TopTvShow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calificacion_critica" class="control-label"></label>
                <input asp-for="Calificacion_critica" class="form-control" />
                <span asp-validation-for="Calificacion_critica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calificacion_audiencia" class="control-label"></label>
                <input asp-for="Calificacion_audiencia" class="form-control" />
                <span asp-validation-for="Calificacion_audiencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="plataformas" class="control-label"></label>
                <input asp-for="plataformas" class="form-control" />
                <span asp-validation-for="plataformas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <input asp-for="Sinopsis" class="form-control" />
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premier" class="control-label"></label>
                <input asp-for="Premier" class="form-control" />
                <span asp-validation-for="Premier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
